dill
Django==2.2.1
findspark
pandas-profiling
pip-chill
gunicorn
whitenoise
django-heroku
coverage
django-coverage
django-filter==2.0.0
djangorestframework==3.9.0
djangorestframework-filters==0.11.1
Flask
Flask-Sockets
redis
channels
channels-redis
daphne